
/* /////////// Phần style innerTourTrips */
#name-tour{
    color: #00adef;
    font-weight: 700;
    font-size: 25px;
}
.innerTourContainer{
   /* text-align: center; */
   margin: auto;
}
.innerTourContainer .home-page-tour .home-page-tour-content{
    color: rgb(65, 113, 216);
    font-size: 15px;
}

.hr-innerTour-style{
    margin: 20px 0;
    
}
.innerTourContainer .home-page-tour{
    margin: 10px 0;
}


.innerTourContainer .box-tour-main{
    display: flex;
}
/* phan aside-left */
.aside-left .category-hotel .left-main-content-hotel{
    width: 40%;
    height: 100vh;
}
#list-tour-available-show .tour-available{
    color: #00adef;
    margin-bottom: 30px;
    display: none;
}
.tour-available .tour-wrapper h3{
    font-size: 20px;
    margin-bottom: 10px;
}
.tour-available .tour-wrapper p{
    margin: 10px 0;
    font-size: 15px;
    color: black;
}
.tour-available .tour-wrapper .price{
    color: #4caf50;
    font-size: 20px;
}
.tour-available .tour-wrapper .button-price button{
    background-color: #ffea00;
    outline: none;
    color: rgb(63, 59, 59);
    font-weight: 600;
    border: none;
    padding: 6px 12px;
    text-transform: uppercase;
    margin-left: 10px;
    margin-top: 10px;
}
.tour-wrapper .button-price button:hover{
    background-color: rgb(185, 185, 58);
}



/* phan aside-right*/
.innerTourContainer .aside-right{
    flex-grow: 1;
}
.innerTourContainer .aside-right .tour-chosen-items{
    display: flex;
    color: #00adef;
    font-size: 15px;
    justify-content: space-evenly;
    margin-top: 10px;
    
}   

@media only screen and (min-width: 1324px  ){
    .innerTourContainer{
        width: 1200px;
    }
}